* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
}

.navbar {
    width: 100%;
    min-height: 15vh;
    padding-left: 20px;
    background: rgb(83, 231, 83);
    color: white;
}

.navbar h1 {
    font-size: 50px;
    padding-top: 20px;
}

.navbar p {
    padding-top: 10px;
    font-size: 20px;
}

.header {
    width: 100%;
    column-count: 3;
}

.header h1 {
    font-size: 50px;
}

.head__1{
    font-size: 20px;
    padding-top: 10px;
}

.head__2{
    padding-top: 10px;
    font-size: 17px;
}

@media screen and (max-width: 568px) {
    .navbar h1 {
        font-size: 37px;
        padding-top: 45px;
    }
    .navbar p{
        padding-top: 10px;
        font-size: 17px;
    }
    .header{
        column-count: 1;
        padding-left: 20px;
    }

    .header h1 {
        font-size: 40px;
        padding-top: 40px;
    }

    .head__1{
        font-size: 17px;
        padding-top: 13px;
        
    }
}